<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theksmith.android.car_bus_interface"
    android:installLocation="auto" >

    <uses-feature android:name="android.hardware.bluetooth" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS" />

    <!-- informal best practice, now expected by SuperUser and SuperSU (https://plus.google.com/103583939320326217147/posts/T9xnMJEnzf1) -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:taskAffinity=".ActvitySettings" >

        <activity
            android:name=".CBIActivityMain"
            android:label="@string/app_name"
            android:excludeFromRecents="false"
            android:noHistory="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".CBIServiceMain"
            android:exported="false"
            android:label="@string/app_name" >
        </service>

        <receiver
            android:name=".BluetoothBroadcastReceiver"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CBIActvitySettings"
            android:exported="false"
            android:label="@string/title_activity_settings" >
        </activity>

        <activity
            android:name=".CBIActivityTerminal"
            android:exported="false"
            android:label="@string/title_activity_terminal"
            android:parentActivityName=".CBIActvitySettings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.theksmith.android.car_bus_interface.CarBusInterfaceSettings" />
        </activity>
    </application>

</manifest>